@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
body {
  font-family: 'Roboto';
  margin: 0;
}

.router-link {
  text-decoration: none;
  color: inherit;
  &:hover {
    color: unset;
  }
}

.error-message {
  color: $color-red;
  text-align: start;
}
