// z-index management
$zIndex: (
  menu: 100,
  popup: 200,
  chatBox: 300,
);

$color-red: #ea2548;
$color-pink-red: #fb6275;
$color-pink-light: #feeeee;
$color-grey: #f3f3f3;
$color-white: #ffffff;
